
.ghost-button-semi-transparent {
    display: inline-block;
    background-color: transparent;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-weight: bolder;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

#inner {
    border: 1px solid #000;

}

.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
    background-color: #fff;
    /* fallback */
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #000;
    /* fallback */
    border-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.ghost-button-semi-transparent a {
    text-decoration: none;
    color: white;
}


.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.nav-link {
    color: white;
    text-align: center;
}

#logo {
    color: white;
}